* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.game-board,
.game-options {
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.game-options {
  text-align: center;
}

.game-options h1 {
  font-size: 6rem;
  color: rgb(47, 64, 112);
}

.game-options h2 {
  font-size: 4rem;
  color: #98c1d9;
}

.game-options__modes li {
  list-style: none;
}

.btn {
  border: #9499a0 solid 4px;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  background-color: white;
  color: #9499a0;
  transition: 0.2s;
}

.btn:hover {
  border-color: orange;
}

.game-options__modes li button {
  margin: 20px 0 0;
  width: 40%;
  height: 50px;
}

.game-board {
  text-align: center;
}

.board tr td {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.btn-back {
  width: 30%;
  margin-top: 2rem;
  padding: 0.4rem 0;
}

.hide {
  display: none;
}
